.edit-profile__form {
  width: 100%;
  min-height: 322px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  justify-content: center;
  align-content: space-between;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 425px) {
  .edit-profile__form {
    width: 387px;
  }
}
@media screen and (min-width: 768px) {
  .edit-profile__form {
    width: 430px;
    height: 330px;
  }
}