.edit-profile__form {
  min-height: 322px;
  background-color: #ffffff;
  border-radius: 10px;
  width: calc(100% - 38px);
  margin: 0 19px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  justify-content: center;
  align-content: space-between;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .edit-profile__form {
    width: 430px;
    height: 330px;
    margin: 0;
  }
}