.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0;
  padding: 28px 0 0;
}
@media screen and (min-width: 1024px) {
  .header {
    width: 880px;
    margin: 0 auto;
    padding: 45px 0 0;
  }
}