.edit-profile__input-fields {
  margin: 17px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .edit-profile__input-fields {
    margin: 10px 0 0;
  }
}