.element__info {
  margin: 0;
  width: calc(100% - 40px);
  padding: 22px 20px;
  display: grid;
  grid-template-columns: fit-content(85%) 10%;
  justify-content: space-between;
  align-content: center;
}