.popup__form {
  width: calc(100% - 44px);
  min-height: calc(330px - 68px);
  margin: 0;
  padding: 25px 22px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "title"
    "." 
    "input"
    "." 
    "button";
  grid-template-rows: min-content minmax(30px, 1fr) min-content minmax(30px, 1fr) min-content;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 425px) {
  .popup__form {
    padding: 34px 36px;
    width: calc(100% - 72px);
    grid-template-rows: min-content minmax(40px, 2fr) min-content minmax(20px, 1fr) min-content;
  }
}