
.element__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.element__invisible-checkbox:disabled + .element__visible-checkbox{
  background-image: url(../../../images/like.svg);
}
.element__invisible-checkbox:hover + .element__visible-checkbox{
  opacity: .5;
}
.element__invisible-checkbox:active + .element__visible-checkbox{
  background-image: url(../../../images/like_active.svg);
}
.element__invisible-checkbox:checked + .element__visible-checkbox{
  background-image: url(../../../images/like_active.svg);
}