.add-card__save-button {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 2px;
  min-height: 46px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  justify-self: center;
  align-self: flex-end;
  grid-area: button;
  transition: background-color 0.2s ease-out 0.2s;
}
.add-card__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .add-card__save-button {
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
  }
}